$base-color: #66B032;
$text-color: #375F1B;
$neutral-color: #9BD770;
$light-color: #EBF7E3;
$background-color: #FAFAFA;
$text-color: #767676;
$white: white;
$font-family: 'Noto Sans JP', sans-serif;

$cel: 425px;
$tablet: 769px;
$laptop: 1024px;

$width-50: 50%;
$width-100: 100%;
$height-100: 100vh;
